* {
    box-sizing: border-box;
}

.one {
    background-color: red;
    border: solid red;
    text-align: center;
}
.column {
    float: left;
    width: 33.33%;
    height: 200px;
    padding: 10px;
  }
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }